/* Importing the Inter font from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

/* Root variables for colors, fonts, and spacing */
:root {
  /* Colors Grey*/
  --color-grey-900: hsl(0, 0%, 8%);
  --color-grey-800: hsl(0, 0%, 12%);
  --color-grey-700: hsl(0, 0%, 20%);
  /* Colors Green */
  --color-green-500: hsl(75, 94%, 57%);
  /* Colors White */
  --color-white: hsl(0, 0%, 100%);

  /* Text Preset 1 */
  --text-1-font: "Inter", sans-serif;
  --text-1-size: 24px;
  --text-1-line-height: 150%;
  --text-1-letter-spacing: 0px;

  /* Text Preset 2 */
  --text-2-font: "Inter", sans-serif;
  --text-2-size: 14px;
  --text-2-line-height: 150%;
  --text-2-letter-spacing: 0px;

  /* Text Preset 3 */
  --text-3-font: "Inter", sans-serif;
  --text-3-size: 14px;
  --text-3-line-height: 150%;
  --text-3-letter-spacing: 0px;

  /* Spacing */
  --spacing-50: 4px;
  --spacing-100: 8px;
  --spacing-150: 12px;
  --spacing-200: 16px;
  --spacing-300: 24px;
  --spacing-500: 40px;
}

/* Reset default browser styles and set box-sizing to border-box for all elements */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
p,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

/* Global styles for the body element, including font, background color, and centering content */

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: var(--text-2-font);
  justify-content: center;
  align-items: center;
  background-color: var(--color-grey-900);
}

/* Mobile Profile Card */
.profile-card {
  /* layout */
  display: flex;
  max-width: 327px;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-300);
  padding: var(--spacing-300);
  border-radius: 12px;
  background-color: var(--color-grey-800);
}

.profile-pic {
  /* layout */
  width: 88px;
  height: 88px;

  /* styles */
  border-radius: 50%;
}

.profile-info {
  /* layout */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-150);
}

.title {
  /* layout */
  align-self: stretch;

  /* styles */
  color: var(--color-white);
  text-align: center;
  font-family: var(--text-1-font);
  font-size: var(--text-1-size);
  font-style: normal;
  font-weight: 600;
  line-height: var(--text-1-line-height);
}

.location {
  align-self: stretch;
  color: var(--color-green-500);
  text-align: center;
  font-family: var(--text-2-font);
  font-size: var(--text-2-size);
  font-style: normal;
  font-weight: 700;
  line-height: var(--text-2-line-height);
}

.bio {
  align-self: stretch;
  color: var(--color-white);
  text-align: center;
  font-family: var(--text-2-font);
  font-size: var(--text-2-size);
  font-style: normal;
  font-weight: 400;
  line-height: var(--text-2-line-height);
}

.social-links,
.social-links ul,
.social-links li {
  width: 100%;
}

.social-links ul {
  /* layout */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-200);
  align-self: stretch;
  width: 100%;
}

.social-links a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  font-family: var(--text-2-font);
  background-color: var(--color-grey-700);
  color: var(--color-white);
  text-decoration: none;
  font-size: var(--text-2-size);
  font-style: normal;
  font-weight: 700;
  line-height: var(--text-2-line-height);
  padding: var(--spacing-150);
  border-radius: 8px;
}

.social-links a:hover {
  background-color: var(--color-green-500);
  color: var(--color-grey-700);
  cursor: pointer;
}

.social-links a:focus-visible {
  background-color: var(--color-green-500);
  color: var(--color-grey-700);
  outline: 2px solid var(--color-white);
  outline-offset: 3px;
}

main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--spacing-300);
}

.attribution {
  padding-bottom: var(--spacing-200);
  font-size: 11px;
  text-align: center;
  color: var(--color-white);
}

.attribution a {
  color: var(--color-green-500);
  text-decoration: none;
}
